

/* ================================
           SIDEBAR SECTION
*=============================== */
.sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 40px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    margin-top: 55px;
    background-color: #fff;
    border-bottom: 4px solid var(--color-primary-light);

    h3 {
        font-size: 35px; 
        font-weight: 700;
        padding-left: 35px;
        color: var(--color-primary);
        margin: 0;
        min-width: 150px;
    }

    ul {
        display: flex;
        justify-content: space-evenly; 
        flex: 1; 
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        flex: 1;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: var(--text-main);
        font-size: 25px; 
        font-weight: 600;
        padding: 10px 0;
        display: block;
        transition: all 0.3s ease;
        color: var(--color-primary-light);
    }

    a:hover {
        color: var(--color-primary);
    }

    a.active {
        color: var(--color-primary);
        border-bottom: 2px solid var(--color-gold);
    }
     @media (max-width: 992px) { /* se pone aca porque solamente quederos oculatr el nav y que aparezca el icono desplegable */
            display: none; 
            }
}

/* ================================
           PRODUCTS SECTION
================================ */

.product-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-left: 75px;
    margin-right: 75px;

    .feature-item{
        background: #fff;
        padding: 40px;
        text-align: center;
        box-shadow: var(--shadow-xl);
        transition: transform 0.5s ease;
        border-top: 4px solid var(--color-gold);

        .img-container{
            margin-bottom: 32px;
            border-radius: 4px;
            overflow: hidden;

            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
                /* efecto para que la imagen este medio grisasea y luego vuelva al coolor original */
                filter: grayscale(50%);
                transition: all 0.5s ease;

            }
        }

        &:hover{
            transform: translateY(-8px);/* la targeta se mueva un poco hacia arriba */

            .img-container{
                img{
                    filter: grayscale(0%);/* hace que el efecto grisaseo de arriba desaparezca */
                }
            }
        }

        h3{
            font-size: 24px;
            margin-bottom: 16px;
        }

        p{
            font-size: 14px;
            margin-bottom: 24px;
            line-height: 1.625;
            color: #6a7282;
        }

        span{
            color: var(--color-gold);
            font-weight: 700;
        }
    }

    @media (max-width:768px) {
        grid-template-columns: 1fr;
        
    }
}

.spacing{ /* es para que el boton de ver menu completo quede de la parte de arriba separado de las tarjetas */
    margin-top: 36px;
background-color: var(--color-secondary);
}
